:root{
    --primary-color-night: rgba(0,0,0,0.9);
    --primary-color-light: rgba(0,0,0,0.6);
    --primary-color-white: rgba(255,255,255,0.3);
    --font-size-button: 2rem;
    --font-color: #eee;
    --header-footer-height: 70px;
}

/* Class */ 
.flex {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.content {
    gap: 10px;
    width: 500px;
    height: 750px;
    background-color: var(--primary-color-light);
    padding: 0rem 3rem;
    margin: 3rem 4rem;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px; 
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); 
}

.imageContainer {
    opacity: 90%;
}

img {
    width: 300px;
    height: 300px;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Body */
body {
    background-image: url(./Images/Background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Montserrat';
    margin: 0;
}

/* Background */ 
.background {
}

/* Header */ 
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color-light);
    gap: 10px;
    padding: 0px 10px;
    transition: transform 0.3s;
}

h1 {
    font-family: 'Tangerine';
    color: white;
    font-weight: normal;
    font-style: italic;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    transform: scale(1.05); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.selected {
    padding-bottom: 5px;
    border-bottom: 2px solid var(--font-color);
}

.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    cursor: pointer;
    background-color: var(--primary-color-light);
    max-width: 100%; /* or any specific value */
    max-height: 100%; /* or any specific value */
    border-radius: 20px;
}

.menu-item:hover {
    background-color: var(--primary-color-white);
}

.menu-item img {
    height: 100px;
    width: 100px;
}

/* Content */ 
.main-content {
    flex-grow: 1;
}

/* Footer */ 
footer {
    height: var(--header-footer-height);
    background-color: var(--primary-color-light);
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px; /* Match the header padding if necessary */
}
